apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "cloud_api_key": "admin",
      "cloud_api_secret": "t0ps3cr3t11",
      "kafka_api_key": "kafka_admin",
      "kafka_api_secret": "P@55w0rd",
      "kafka_rest_endpoint": "https://abc-12345z.region.provider.confluent.cloud:443"
    }
